{
	"env": {
		"node": true,
		"es2021": true,
		"browser": true
	},
	"plugins": ["jest", "babel"],
	"extends": [
		"airbnb-base",
		"plugin:jest/recommended"
	],
	"parser": "babel-eslint",
	"rules": {
		"quotes": ["error", "single"],
		"no-console": 0,
		"import/extensions": 0,
		"no-underscore-dangle": [2, { "allow": ["__filename", "__dirname"] }]
	}
}
